<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  	<servlet>
    	<servlet-name>MiniEugeneServlet</servlet-name>
    	<servlet-class>org.cidarlab.minieugene.web.MiniEugeneServlet</servlet-class>
		<init-param>
        	<param-name>DATA_DIRECTORY</param-name>
        	<param-value>/Users/ernstl/PostDoc/BU/Eugene/ecosystem/deployment/miniEugene-web/data</param-value>
        	<!--  <param-value>/home/eoberortner/miniEugene-data</param-value-->
        </init-param>
		<load-on-startup>1</load-on-startup>
  	</servlet>
  
  	<servlet-mapping>
	    <servlet-name>MiniEugeneServlet</servlet-name>
    	<url-pattern>/MiniEugeneServlet</url-pattern>
  	</servlet-mapping>

</web-app>